{% extends "layout.html" %}
{% block title %}District{% endblock %}

{% block content %}
<h2>Active children from all GMCs</h2>
{{ case|safe }}
<h2>Reports from all GMCs</h2>
{{ reports|safe }}
<h2>Inactive children from all GMCs</h2>
<p class="notice">Figure out active vs inactive</p>

<script type="text/javascript">
$("#table-2 tr").each(function() {
    var td = $(this).find("td")[10];
    if ($(td).text() != "None") {
        $(this).removeClass("even");
        $(this).css("background", "yellow !important");
    }
})
</script>
{% endblock %}
