{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}

{% block bar %}
{% if zones %}
<h2>Filter</h2>
<p>
<a href="?">All (Reset)</a><br />
{% for zone in zones %}
<a href="?filter_zone={{ zone.id }}">{{ zone.name }}</a><br />
{% endfor %}
</p>
<h2>Breakout</h2>
<p>
{% for zone in zones %}
<a href="{{ zone.get_filter_url }}">{{ zone.name }}</a><br />
{% endfor %}
</p>
{% endif %}
{% if facilities %}
<h2>Breakout</h2>
<p>
{% for facility in facilities %}
<a href="{{ facility.get_filter_url }}">{{ facility.name }}</a><br />
{% endfor %}
</p>
{% endif %}
<h2>Export All Data</h2>
{% for zone in zones %}
<a href="?export=all&amp;zone_limit={{ zone.id }}">{{ zone.name }}</a><br />
{% endfor %}
<p><a href="?export=all">Export all graph data</a></p>
{% endblock %}

{% block content %}
<table>
    <thead>
    <tr>
        <th><abbr title="Last Calendar Month">Last month</abbr></th>
        <th><abbr title="# of unique SMS reports">Reports</abbr></th>
        <th><abbr title="% moderate malnutrition">Moderate</abbr></th>
        <th><abbr title="% severe malnutrition">Severe</abbr></th>
        <th><abbr title="% stunting">Stunting</abbr></th>
        <th><abbr title="% oedema">Oedema</abbr></th>
        <th><abbr title="% diarrhea">Diarrhea</abbr></th>
    </tr>
    </thead>
    <tbody>
        {% for row in lastmonth %}
        <tr>
            {% for entry in row %}
                {% if forloop.first %}{% else %}
                <td><a href="{{ entry.zone.get_filter_url }}" longitude="{{ entry.zone.lon }}" latitude="{{ entry.zone.lat }}">{{ entry.name|title }}</a></td>
                <td>{{ entry.data.message }}</td>
                <td>{{ entry.data.moderate|stringformat:".2f" }}{% if entry.data.moderate %}%{% endif %}</td>
                <td>{{ entry.data.severe|stringformat:".2f" }}{% if entry.data.severe %}%{% endif %}</td>
                <td>{{ entry.data.stunting|stringformat:".2f" }}{% if entry.data.stunting %}%{% endif %}</td>
                <td>{{ entry.data.oedema|stringformat:".2f" }}{% if entry.data.oedema %}%{% endif %}</td>
                <td>{{ entry.data.diarrhea|stringformat:".2f" }}{% if entry.data.diarrhea %}%{% endif %}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Unique SMS Reports</h2>
{{ message.javascript|safe }}
<p><a href="?export=message">Export graph data</a></p>

<h2>% Severe Acute Malnutrition</h2>
{{ severe.javascript|safe }}
<p><a href="?export=severe">Export graph data</a></p>

<h2>% Moderate Acute Malnutrition</h2>
{{ moderate.javascript|safe }}
<p><a href="?export=moderate">Export graph data</a></p>

<h2>% Stunting</h2>
{{ stunting.javascript|safe }}
<p><a href="?export=stunting">Export graph data</a></p>

<h2>% Oedema</h2>
{{ oedema.javascript|safe }}
<p><a href="?export=oedema">Export graph data</a></p>

<h2>% Diarrhea</h2>
{{ diarrhea.javascript|safe }}
<p><a href="?export=diarrhea">Export graph data</a></p> 


<p id="map" class="span-20" style="height: 400px" />
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ settings.GOOGLE_MAPS_API_KEY }}" type="text/javascript"></script>
<script type="text/javascript">
var INITIAL_LAT = -13.464422;
var INITIAL_LON = 34.321289;
var map = null;
function initialize() {
    var elem = document.getElementById("map");
    if (!elem) {
        return;
    }
    map = new GMap2(elem);
    map.setCenter(new GLatLng(INITIAL_LAT, INITIAL_LON), 6);
    map.addControl(new GLargeMapControl());
};
initialize();
$(document).ready(function(){
    $("#zones a").each(function() {
        var a = jQuery(this);
        var longitude = a.attr("longitude");
        var latitude = a.attr("latitude");
        if ((latitude != 'None') && (longitude != 'None')) {
            var latlng = new GLatLng(latitude, longitude);
            var marker = new GMarker(latlng);
            map.addOverlay(marker);
            GEvent.addListener(marker, "click", function() {
                console.log(a.parent().text());
              marker.openInfoWindowHtml(a.parent().html());
            });
        };
    });
});
</script>
<ul id="zones" style="display:none">
    {% for row in lastmonth %}
        {% for entry in row %}
            {% if forloop.first %}{% else %}
            <p>
                <a href="{{ entry.zone.get_filter_url }}" longitude="{{ entry.zone.lon }}" latitude="{{ entry.zone.lat }}">{{ entry.name|title }}</a><br />
                <b>Messages</b>: {{ entry.data.message }}<br />
                <b>Moderate</b>: {{ entry.data.moderate|stringformat:".2f" }}{% if entry.data.moderate %}%{% endif %}<br />
                <b>Severe</b>: {{ entry.data.severe|stringformat:".2f" }}{% if entry.data.severe %}%{% endif %}<br />
                <b>Stunting</b>: {{ entry.data.stunting|stringformat:".2f" }}{% if entry.data.stunting %}%{% endif %}<br />
                <b>Oedmea</b>: {{ entry.data.oedema|stringformat:".2f" }}{% if entry.data.oedema %}%{% endif %}<br />
                <b>Diarrhea</b>: {{ entry.data.diarrhea|stringformat:".2f" }}{% if entry.data.diarrhea %}%{% endif %}<br /> 
            </p>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</ul>
{% endblock %}
