{% extends "layout.html" %}

{% block content %}
<h2>Message HSA #{{ object.id }}</h2>
{% if mobile %}
<p>The message will be sent as if from: {{ mobile }}.</p>
<form method="POST" action="/hsa/msg/{{ object.id }}/">
    <fieldset>
        {{ message_form.as_custom }}
        <div><input type="submit" value="Message" /></div>
    </fieldset>
</form>
{% else %}
<p>You do not have a mobile number registered to this account, you can't message the user.</p>
{% endif %}

<h2>Editing #{{ object.id }}</h2>

<form method="POST">
    <fieldset>
        {{ user_form.as_custom }}
        {{ provider_form.as_custom }}
        <div><input type="submit" value="Save" /></div>
    </fieldset>
</form>

{% endblock %}
